<div class="div5 boxes text-light p-5 mx-5 mb-5">
  <div class= "d-flex justify-content-between align-items-center mb-4">
    <h5>Team Overview</h5>
    <button type="button" class="btn btn-button-color" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="fa-solid fa-plus"></i> Add Task</button>
    <%= render 'users/addtaskform' %>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table text-light sortable">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="col-4 sticky-top no-sort"></th>
          <th scope="col" class="col-2 sticky-top">
            <span>Total Overtime</span><br>
            <span> this month (hrs)</span>
          </th>
          <th scope="col" class="col-2 sticky-top">
            <span>Ongoing</span><br>
            <span>Tasks</span>
          </th>
          <th scope="col" class="col-2 sticky-top">
            <span>Completed</span><br>
            <span>Tasks</span>
          </th>
          <th scope="col" class="col-2 sticky-top">
            <span>Completed</span><br>
            <span>Goals</span>
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% @users.each do |user| %>
          <% unless user.is_manager %>
            <tr>
              <th class="no-sort" scope="row">
                <div class="d-flex">
                  <%= link_to user_path(user), class: "text-decoration-none text-light" do %>
                    <%= cl_image_tag user.photo.key, class: "avatar-bordered shadow me-3" %>
                  <% end %>
                  <div>
                    <span><%= link_to user.name,user_path(user), class: "text-decoration-none text-light" %></span><br>
                    <h6 class="text-white-50 fw-lighter fst-italic" ><%= user.job_title %></h6>
                  </div>
                </div>
              </th>
              <% employee_overtime = 0 %>
              <% user.timesheets.each do |timesheet| %>
                <% if timesheet.time_out %>
                  <% differences = timesheet.time_out - timesheet.time_in %>
                  <% employee_overtime += differences - 32_400 if differences > 32_400 %>
                <% end %>
              <% end %>
              <td><%= (employee_overtime/ 3600).round(1) %></td>
              <td><%= user.tasks.where(status: "In Progress").count %></td>
              <td><%= user.tasks.where(status: "done").count %></td>
              <td><%= user.goals.where(status: "met_target").count %> / <%= user.goals.count %> </td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
