<div class="div5 team-overview p-4 bg-white m-5">
  <div class= "d-flex justify-content-between align-items-center">
    <h5> Team Overview</h5>
    <button type="button" class="btn btn-primary">Add task</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-4"></th>
          <th scope="col" class="col-2">
            <span>Total overtime</span><br>
            <span> this time</span>
          </th>
          <th scope="col" class="col-2">
            <span>Ongoing</span><br>
            <span>tasks</span>
          </th>
          <th scope="col" class="col-2">
            <span>Completed</span><br>
            <span>tasks</span>
          </th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% unless user.is_manager %>
            <tr>
              <th scope="row">
                <div class="d-flex">
                  <div>
                    <%# image %>
                  </div>
                  <div>
                    <span><%= user.name %></span><br>
                    <span><%= user.job_title %></span>
                  </div>
                </div>
              </th>
              <% employee_overtime = 0 %>
              <% user.timesheets.each do |timesheet| %>
                <% differences = timesheet.time_out - timesheet.time_in %>
                <% employee_overtime += differences - 32_400 if differences > 32_400 %>
              <% end %>
              <td><%= (employee_overtime/ 3600).round(1) %></td>
              <td><%= user.tasks.where(status: "In Progress").count %></td>
              <td><%= user.tasks.where(status: "done").count %></td>
              <td class="pe-0">
                <div class="d-flex justify-content-end align-items-center">
                  <%= link_to "View Profile", user_path(user), class:"btn btn-secondary my-auto" %>
                  <%# <button type="button" class="btn btn-secondary my-auto">View Profile</button> %>
                </div>
              </td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
