<div class="offcanvas offcanvas-start" tabindex="-1" id=<%="offcanvasExampleMeeting#{date}"%> aria-labelledby="offcanvasExampleLabel" style="width:600px">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add Meeting</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >

    <%= simple_form_for @meeting, namespace: "meeting-#{date}" do |f| %>
      <%= f.input :task_title , label: 'Title'  %>
      <%= f.input :due_date, label: 'Meeting Date', input_html: { :value => date }, html5:true %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%#= watermark = "" %>
      <%#= counter = 0 %>
      <%= f.association :users,
          # collection: User.all,
          as: :check_boxes,label: 'Assign employee to meeting',
          # value_method: :email,
          input_html: {
            class: "tag-selector",
            # id: "meeting_user_#{date}_ids_#{User.all}"
          },
          item_wrapper_class: 'tag-item',
          :multiple => true ,
          :include_blank => false %>
      <%= f.button :submit, "Add meeting", class: "btn btn-button-color" %>
    <% end %>
  </div>
</div>
