<div class="div5 row me-5">
  <div class="col">
    <h2 class="text-white">Task List</h2>
    <div class="boxes p-2 text-light">
      <div class="container d-flex flex-column gap-3">
        <% @tasks.order(:due_date).each do |task| %>
          <%= render 'tasks/edittaskform', task: task %>
          <div class="row rounded text-dark bg-light">
            <div class="col d-flex align-items-center justify-content-between p-1">
              <div>
                <div><b><%= task.task_title %></b></div>
                <div>Due: <%= task.due_date.to_s.split(" ")[0] %> &nbsp; <%= task.status %></div>
              </div>
              <div>
                <% task.users.each do |user| %>
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
                  <% else %>
                    <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1673190740/pyp2lkzx5ec4awqextwq.jpg", class: "avatar-bordered shadow" %>
                  <% end %>
                <% end %>
                <button class="btn btn-dark rounded-pill" data-bs-toggle="offcanvas" data-bs-target=<%="#taskmodel#{task.id}"%> aria-controls="offcanvasExample"><i class="fa-solid fa-pen"></i></button>
                <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "btn btn-dark rounded-pill" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
