<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="col mx-5 my-4 text-light">
    <h1>Calendar/Tasks</h1>
    <%= month_calendar attribute: :due_date, events:@tasks do |date, tasks| %>
      <%= render 'tasks/addmeetingform', date: date  %>
      <div class="d-flex flex-column align-items-center" style= "width:130px">
        <button type="button" class="btn btn-button-color text-white" data-bs-toggle="offcanvas" data-bs-target=<%="#offcanvasExampleMeeting#{date}"%> aria-controls="offcanvasExample" style= "background-color: #3F456B; border:none; opacity:0.8;"> <%= date.day %></button>
        <% matching_meetings = @meetings.select { |m| m.due_date == date } %>
        <% if matching_meetings.any? %>
          <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle text-truncate text-light" style= "width:130px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <%=matching_meetings.first.task_title%>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% matching_meetings.each do |meeting| %>
                <li><a class="dropdown-item" href="#"><%= meeting.task_title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if tasks.any? %>
          <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle text-truncate text-light" style= "width:130px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-stopwatch"></i> <%=tasks.first.task_title%>
            </button>
            <% if tasks.count > 1 %>
              <p><%=tasks.count %> task</p>
            <% end %>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% tasks.each do |task| %>
                <li><a class="dropdown-item" href="#"><%= task.task_title %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="boxes p-3 text-light">
      <h2>Task List</h2>
      <div class="container d-flex flex-column gap-3">
        <% @tasks.order(:due_date).each do |task| %>
          <%= render 'tasks/edittaskform', task: task %>
          <div class="row rounded text-light bg-primary bg-opacity-25">
            <div class="col d-flex align-items-center justify-content-between px-3">
              <div>
                <div><b><%= task.task_title %></b></div>
                <div>Due: <%= task.due_date.to_s.split(" ")[0] %> &nbsp; Status: <%= task.status %></div>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-end">
                <div>
                  <% task.users.each do |user| %>
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
                    <% else %>
                      <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1673190740/pyp2lkzx5ec4awqextwq.jpg", class: "avatar-bordered shadow" %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <button class="btn btn-outline-light mx-1 rounded-pill" data-bs-toggle="offcanvas" data-bs-target=<%= "#taskmodel#{task.id}" %> aria-controls="offcanvasExample"><i class="fa-solid fa-pen"></i></button>
                </div>
                <div>
                  <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-light rounded-pill" do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
                <div>
                  <% if task.status == 'in_progress' %>
                    <%= simple_form_for task,data: {action: "submit->insert-in-list#update"} do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'done'} %>
                      <%= button_tag class: "btn btn-outline-light mb-3 ms-1 rounded-pill" do %>
                        <i class="fa-regular fa-circle-check"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
