<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="col">
    <h1>Calendar/Tasks</h1>
    <%= month_calendar(attribute: :due_date, events: @tasks) do |date, tasks| %>
      <div class="d-flex flex-column">
        <%= date.day %>
        <% tasks.each do |task| %>
          <p class="badge rounded-pill text-bg-primary"><%= task.task_title %></p>
        <% end %>
      </div>
    <% end %>
    <div class="task-list rounded p-2 text-light">
      <h2>Task List</h2>
      <div class="container d-flex flex-column gap-3">
        <% @tasks.each do |task| %>
          <%= render 'tasks/edittaskform', task: task %>
          <div class="row rounded text-dark bg-light">
            <div class="col d-flex align-items-center justify-content-between p-1">
              <div>
              <div><b><%= task.task_title %></b></div>  <div>Due: <%= task.due_date.to_s.split(" ")[0] %> &nbsp; <%= task.status %></div> </div>
              <div>
              <% task.users.count.times do %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-bordered" %>
                <% end %>
                <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target=<%="#taskmodel#{task.id}"%> aria-controls="offcanvasExample">Edit</button>
                <%= link_to "Delete", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "btn btn-dark"%></div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
