<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add Task</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <%= simple_form_for @task do |f| %>
  <%= f.input :task_title %>
  <%= f.input :description %>
    <%= f.input :due_date %>
     <%= f.association :users, as: :check_boxes,label: 'Assign employee to task',:multiple => true %>

    <%# <%= f.input :user_ids, collection: @users,label: 'Assign employee to task',  as: :radio_buttons,input_html: { multiple: true }%>
<%= f.button :submit, class: "btn btn-default btn-primary"  %>

    <% end %>



  </div>
</div>
