<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExampleMeeting" aria-labelledby="offcanvasExampleLabel" style="width:600px">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add Meeting</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
    <%= simple_form_for @meeting do |f| %>
      <%= f.input :task_title , label: 'Title'  %>
     <%= f.input :due_date, label: 'Meeting Date' %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.association :users,
          as: :check_boxes,label: 'Assign employee to meeting',
          input_html: { class: "tag-selector" },
          item_wrapper_class: 'tag-item',
          :multiple => true , :include_blank => false%>
      <%= f.button :submit, "Add meeting", class: "btn btn-button-color" %>
    <% end %>
  </div>
</div>
