<div class="div2 mt-4 mb-0 me-5 p-3 boxes text-light d-flex flex-column justify-content-center align-items-center clock">
  <h5>Working Time</h5>
  <div class="clock-in-out-button">
    <% if @timesheet == nil %>
      <%= render 'timesheets/clock_in' %>
    <% elsif @timesheet&.time_out == nil %>
      <%= render 'timesheets/clock_out', timesheet: @timesheet %>
    <% else  %>
      <h4 class="text-center">Well done <%= current_user.name %> 🎉</h4>
      <% if ((@timesheet.time_in.to_time - @timesheet.time_out.to_time) / 3600).abs < 1 %>
        <h5>You worked for <%= ((@timesheet.time_in.to_time - @timesheet.time_out.to_time) / 60).abs.round %> minutes</h5>
      <% else %>
      <h5>You worked for <%= ((@timesheet.time_in.to_time - @timesheet.time_out.to_time) / 3600).abs.round %> hours</h5>
      <% end %>
    <% end %>
  </div>
</div>
