<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="parent col-10">
    <%= render 'users/manager/greeting' %>
    <%= render 'users/manager/tasks_done' %>
    <%= render 'users/manager/team_overtime' %>
    <%= render 'users/manager/chart' %>
    <%= render 'users/manager/team_overview' %>
  </div>
</div>
