<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="parent col-10">
    <%= render 'users/manager/greeting' %>
    <%= render 'users/manager/tasks_done' %>
    <%= render 'users/manager/team_overtime' %>
    <%= render 'users/manager/chart' %>
    <%= render 'users/manager/team_overview' %>
  </div>
</div>
<div class="parent">
  <div class="div1">
    <h4> Hello El Mehdi, </h4>
    <p> All of your team members are here today! </p>
  </div>
  <div class="div2">
    <h4>Important</h4>
    <h4>Tasks Done</h4>
  </div>
  <div class="div3">
    <h4>Team</h4>
    <h4>Overtime</h4>
    <h2>80 Hrs</h2>
  </div>
  <div class="div4">
    <h5>Team Overall Overtime/ Tasks by Month</h5>
  </div>
  <div class="team-overview p-4 bg-white m-5">
    <div class= "d-flex justify-content-between align-items-center">
      <h5> Team Overview</h5>
      <button type="button" class="btn btn-primary">Add task</button>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-4"></th>
            <th scope="col" class="col-2">
              <span>Total overtime</span><br>
              <span> this time</span>
            </th>
            <th scope="col" class="col-2">
              <span>Ongoing</span><br>
              <span>tasks</span>
            </th>
            <th scope="col" class="col-2">
              <span>Completed</span><br>
              <span>tasks</span>
            </th>
            <th scope="col" class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="d-flex">
                <div>
                  <%# image %>
                </div>
                <div>
                  <span>Joe</span><br>
                  <span>Lead dev</span>
                </div>
              </div>
            </th>
            <td>2hrs</td>
            <td>2 tasks</td>
            <td>10 tasks</td>
            <td class="pe-0">
              <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary my-auto">View Profile</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="d-flex">
                <div>
                  <%# image %>
                </div>
                <div>
                  <span>Josh</span><br>
                  <span>Backend dev</span>
                </div>
              </div>
            </th>
            <td>2hrs</td>
            <td>2 tasks</td>
            <td>10 tasks</td>
            <td class="pe-0">
              <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary my-auto">View Profile</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="d-flex">
                <div>
                  <%# image %>
                </div>
                <div>
                  <span>Luye</span><br>
                  <span>Frontend dev</span>
                </th>
                <td>2hrs</td>
                <td>2 tasks</td>
                <td>10 tasks</td>
                <td class="pe-0">
                  <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-secondary my-auto">View Profile</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
