<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="parent2 col-10">
    <%= render 'timesheets/profile_time' %>
    <%= render 'users/employee/performance' %>
    <%= render 'users/goals' %>
    <%= render 'tasks/task_list' %>
  </div>
</div>
