<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="user-profile col-10">
    <%= render 'users/employee_profile/profile' %>
    <%= render 'timesheets/profile_time' %>
    <%= render 'users/employee_profile/performance' %>
    <%= render 'users/employee_profile/goals' %>
    <%= render 'tasks/task_list' %>
  </div>
</div>

<%# f.input :Goal Name %>
