<div class="sidebar col-2 bg-light position-sticky top-0 shadow-sm">
  <div class="d-flex">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar" %>
    <div class="info">
      <%# <%= @user.name %>
      <p>Josh</p>
      <%# <%= @user.job_title %>
      <p>Backend Dev</p>
    </div>
  </div>
  <div class="side-bar-items m-3">
    <%= link_to root_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-solid fa-house"></i> Home</h6>
    <% end %>
    <%= link_to tasks_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-regular fa-calendar"></i> Calendar/Tasks</h6>
    <% end %>
    <%= link_to goals_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-solid fa-trophy"></i> My Goals</h6>
    <% end %>
    <%= link_to timesheets_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-regular fa-clock"></i> My Timesheets</h6>
    <% end %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</h6>
    <% end %>
  </div>
</div>
